.App {
     display: flex;
     justify-content: center;
     min-height: 100vh;
     background-color: #4158D0;
     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.App .container {
     padding: 30px;
     width: 500px;
}

.header {
     text-align: center;
     margin: 20px 0;
     font-size: 30px;
     font-weight: bold;
     color: #dcfce7;
}

.App .container .content {
     background-color: #fffc;
     padding: 20px 20px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;

}

.App .container .content .form {
     padding: 10px;

}

.alert {
     margin-bottom: 15px;
     margin: auto;
     font-size: 20px;
     width: 300px;
     text-align: center;
     color: #fff;
     font-weight: bold;

}

.alert.alert-danger {
     background-color: #dc2626;
     padding: 5px 0;
     border-radius: 10px;
}

.alert.alert-success {
     background-color: #facc15;
     padding: 5px 0;
     border-radius: 10px;
}

.form-input {
     margin-top: 20px;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.form-input input {
     width: 300px;
     padding: 10px;
     border-radius: 10px;
     border: 1px solid #065f46;
     outline: none;
     font-size: 20px;
}

.form-input button {
     width: 80px;
     height: 40px;
     background: #065f46;
     border: none;
     color: #fff;
     border-radius: 10px;
}

.clear-item {
     display: block;
     margin: auto;
     background: #1d4ed8;
     border: none;
     width: 100px;
     height: 40px;
     font-size: 20px;
     border-radius: 10px;
     cursor: pointer;
     color: #fff;

}

.list-item {
     margin-bottom: 20px;
     padding-right: 20px;

}

.list {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.list ul li {
     list-style-type: none;
     font-size: 20px;
     font-weight: bold;
     margin-left: -30px;
     padding: 5px;
     border-radius: 5px;
     width: 300px;
     background:#a21caf ;

}

.complete {
     text-decoration: line-through;
     opacity: 0.4;
}

.icon {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.icon .edit {
     margin-right: 10px;
     border: none;
     color:  #84cc16;
     font-size:  30px;
}
.icon .deleted {
     margin-right: 10px;
     border: none;
     color: #1d4ed8;
     font-size:  30px;
}